<div *ngIf="submitted">
    <span>Thank you for purchasing!</span>
</div>
<form [formGroup]="creditcardForm" novalidate (ngSubmit)="onSubmit()" *ngIf="!submitted">   
    <div class='form-group'>
        <label for="number">Credit card number:</label>
        <div class='input-group'>
            <input type="text" class='form-control' formControlName="number">

            <div class='input-group-addon' id='type'>
                <span>{{ checkCreditCard() }}</span>
                <span *ngIf="!creditcardForm.get('number').errors && creditcardForm.get('number').dirty">
                        <i class="fa fa-check emakina-check" aria-hidden="true"></i>
                </span>

            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Name on card:</label>
        <input type="text" class='form-control' formControlName="name">
    </div>
    <div class='clearfix'>
        <div class="form-group form-group-mini">
            <label>Expiracy date:</label>
            <input type='text' class='form-control' placeholder="mm/yyyy" formControlName="expiracyDate">
        </div>
        <div class="form-group form-group-mini">
            <label>CCV:</label>
            <input type='text' class='form-control' formControlName="ccv">
        </div>
    </div>
    <br>
    <p> 
        <button class='btn btn-default' [disabled]="creditcardForm.pristine" (click)="reset()" type="reset">Reset</button>
        <button class='btn btn-primary' [disabled]="creditcardForm.pristine || creditcardForm.invalid" type="submit">Submit</button>
    </p>
</form>